// Colors
// ----------------------------

// Grays
$black                        : #000
$grayDarker                   : #25231e
$grayDark                     : #333
$gray                         : #555
$grayLight                    : #808080
$grayLighter                  : #b8b8b8
$white                        : #FFF
$beige                        : #ededed

// Accent Colors
$green                        : #468847
$greenLight                   : #d6e9c6
$greenLighter                 : #dff0d8
$red                          : #b94a48
$redLight                     : #eed3d7
$redLighter                   : #f2dede
$blue                         : #3a87ad
$blueDark                     : #069
$blueDarker                   : darken($blue, 15)
$blueLight                    : #bce8f1
$blueLighter                  : #d9edf7
$yellowPale                   : #fffcda
$greenPale                    : #e1ecdd
$warningRed                   : #ffecec
$headerColor                  : #73AF66
$marketingGreen               : #8DC30F