/* line 7, ../../../SASS/_scaffolding.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 12, ../../../SASS/_scaffolding.sass */
body {
  margin: 0;
  background-color: #e1e0da;
}

/* line 18, ../../../SASS/_scaffolding.sass */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 32, ../../../SASS/_scaffolding.sass */
img,
embed,
object,
video {
  max-width: 100%;
}

/* line 41, ../../../SASS/_scaffolding.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 46, ../../../SASS/_scaffolding.sass */
a:focus {
  outline: thin dotted;
}

/* line 49, ../../../SASS/_scaffolding.sass */
h1 {
  margin: 0.67em 0;
}

/* line 52, ../../../SASS/_scaffolding.sass */
h2 {
  margin: 0.83em 0;
}

/* line 55, ../../../SASS/_scaffolding.sass */
h3 {
  margin: 1em 0;
}

/* line 58, ../../../SASS/_scaffolding.sass */
h4 {
  margin: 1.33em 0;
}

/* line 61, ../../../SASS/_scaffolding.sass */
h5 {
  margin: 1.67em 0;
}

/* line 64, ../../../SASS/_scaffolding.sass */
h6 {
  margin: 2.33em 0;
}

/* line 69, ../../../SASS/_scaffolding.sass */
sub,
sup {
  position: relative;
  vertical-align: baseline;
}

/* line 74, ../../../SASS/_scaffolding.sass */
sup {
  top: -0.5em;
}

/* line 77, ../../../SASS/_scaffolding.sass */
sub {
  bottom: -0.25em;
}

/* line 81, ../../../SASS/_scaffolding.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 84, ../../../SASS/_scaffolding.sass */
hr {
  border: 0 none;
  border-bottom: 1px solid #b8b8b8;
  background-color: none;
}

/* line 89, ../../../SASS/_scaffolding.sass */
.pull-right {
  float: right;
}

/* line 92, ../../../SASS/_scaffolding.sass */
.pull-left {
  float: left;
}

/* line 95, ../../../SASS/_scaffolding.sass */
.clear {
  clear: both;
}

/* line 100, ../../../SASS/_scaffolding.sass */
li a:focus {
  outline: none;
}

/* line 10, ../../../SASS/_base.sass */
html,
body {
  width: 100%;
  height: 100%;
}

/* line 15, ../../../SASS/_base.sass */
body {
  font-family: Arial, sans-serif;
  font-size: 1em;
}

/* line 3, ../../../SASS/modules/login/login.sass */
.mobile {
  background-color: #73af66;
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, #73af66), color-stop(100%, #468847));
  background-image: -webkit-radial-gradient(center, #73af66, #468847);
  background-image: -moz-radial-gradient(center, #73af66, #468847);
  background-image: -o-radial-gradient(center, #73af66, #468847);
  background-image: -ms-radial-gradient(center, #73af66, #468847);
  background-image: radial-gradient(center, #73af66, #468847);
  width: 100%;
  height: 100%;
}
/* line 8, ../../../SASS/modules/login/login.sass */
.mobile header {
  width: 100%;
  height: 25px;
  padding-top: 25%;
  margin-bottom: 10%;
}
/* line 13, ../../../SASS/modules/login/login.sass */
.mobile header img {
  margin: 0 24%;
  width: 160px;
  height: 25px;
}
/* line 17, ../../../SASS/modules/login/login.sass */
.mobile article {
  overflow: hidden;
  *zoom: 1;
  height: 45%;
}
/* line 20, ../../../SASS/modules/login/login.sass */
.mobile article input {
  width: 90%;
  margin: 0 5%;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 1px #8dc30f solid;
  font-size: 0.825em;
}
/* line 27, ../../../SASS/modules/login/login.sass */
.mobile article input:first-child {
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0 none;
}
/* line 30, ../../../SASS/modules/login/login.sass */
.mobile article input:nth-child(2) {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}
/* line 32, ../../../SASS/modules/login/login.sass */
.mobile article button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  float: right;
  padding: 5px;
  font-size: 0.825em;
  margin: 5px 6%;
  color: #666666;
  text-shadow: 1px 1px white;
  font-weight: bold;
  background-color: gray;
  border: 0 none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(100%, #b8b8b8));
  background-image: -webkit-linear-gradient(#ededed, #b8b8b8);
  background-image: -moz-linear-gradient(#ededed, #b8b8b8);
  background-image: -o-linear-gradient(#ededed, #b8b8b8);
  background-image: -ms-linear-gradient(#ededed, #b8b8b8);
  background-image: linear-gradient(#ededed, #b8b8b8);
}
/* line 44, ../../../SASS/modules/login/login.sass */
.mobile footer {
  padding: 0 10px;
  color: white;
}
/* line 47, ../../../SASS/modules/login/login.sass */
.mobile a {
  color: white;
}
/* line 49, ../../../SASS/modules/login/login.sass */
.mobile ul {
  list-style-type: none;
}
/* line 51, ../../../SASS/modules/login/login.sass */
.mobile ul li {
  float: left;
  margin-right: 5px;
}
/* line 54, ../../../SASS/modules/login/login.sass */
.mobile ul li:first-child {
  overflow: hidden;
  *zoom: 1;
  display: block;
}
/* line 57, ../../../SASS/modules/login/login.sass */
.mobile ul li a {
  color: white;
}

/* line 60, ../../../SASS/modules/login/login.sass */
.desktop {
  width: 100%;
  height: 100%;
}
