* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1em;
}

.mobile {
  background-color: #73AF66;
  background-image: -webkit-radial-gradient(circle, #73AF66, #468847);
  width: 100%;
  height: 100%;
}

.mobile header {
  width: 100%;
  height: 25px;
  padding-top: 25%;
  margin-bottom: 10%;
}

.mobile header img {
  margin: 0 24%;
  width: 160px;
  height: 25px;
}

.mobile article {
  clear: both;
  height: 45%;
}

.mobile article input {
  width: 80%;
  margin: 0 6%;
  padding: 10px;
  -webkit-border-radius: 10px;
  border: 1px #8DC30F solid;
  font-size: 0.825em;
}

.mobile article input:first-child {
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom: 0 none;
}

.mobile article input:nth-child(2) {
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
}

.mobile article button {
  -webkit-border-radius: 5px;
  float: right;
  padding: 5px;
  font-size: 0.825em;
  margin: 5px 8%;
  color: 666666;
  text-shadow: 1px 1px white;
  font-weight: bold;
  background-color: gray;
  border: 0 none;
  background-image: -webkit-linear-gradient(#EDEDED, #B8B8B8);
}

.mobile footer {
  padding: 0 10px;
}

.mobile footer,
.mobile footer ul li,
.mobile footer ul li a,
.mobile a {
  color: white;
}

.mobile footer ul {
  list-style-type: none;
}

.mobile footer ul li {
  float: left;
  margin-right: 5px;
}

.mobile footer ul li:first-child {
  clear: both;
  float: none;
  display: block;
}

.desktop {
  width: 100%;
  height: 100%;
}