<div class=container-fluid>
      <div class="span12 header">
        <div class="logo span12"><img src="https://qa.reputation.com/pub/assets/img/logos/logo-white-sm.png?1359058812" /></div>
      </div>
      <section class="mainContent span12">
        <div class=row-fluid>
  <div class="offset4 span4">
    <section class=module>
      <div class="module-header hgroup">
        <h4>Log In</h4>
      </div>

      <a id="facebookLogin" class=connectBtn>Login with Facebook</a>

      <p class=hr><span>or</span></p>
      <article>

        <form name="loginForm" method=POST id="styled_form" class="styled_form" action="login">

          <input type=text placeholder="Email Address" name=username id="username" tabindex=1 />

          <input type=password placeholder="Password" name=password id="password" tabindex=2 />

          <button type=submit class="btn primary">Log In</button>
        </form>
        <div class="error form_error" id="form_error"></div>
        <div class="error form_error" id ="login_error"></div>

        <p class=hr></p>

        <p class="module-note">
          <a href="/pub/forgot">Forgot your password?</a>
          <br>
          Don&rsquo;t have an account? <a href="/pub/signup">Sign Up!</a>
        </p>
      </article>
    </section>

  </div>
</div> 

      </section>
      <div class="bottom-nav footer module-fade">
  <ul class=bottom-nav-primary>
    <li>&copy; 2013 Reputation.com, Inc.</li>
    <li>
      <a href="/pub/privacy-policy">Privacy Policy</a>
    </li>
    <li>
      <a href="/pub/user-agreement">Terms</a>
    </li>
          <li>
        <a href="/pub/about">About Us</a>
      </li>
              <li>
        <a href="/pub/contact">Support</a>
      </li>
      </ul>
</div>

    </div>