<header>
    <img src="https://qa.reputation.com/pub/assets/img/logos/logo-white-sm.png?1359058812" />
</header>

<article>
    <input type="email" placeholder="Email Address" />
    <input type="password" placeholder="Password" />
    <button>Log in</button>
</article>

<footer>
  <ul class=bottom-nav-primary>
    <li>&copy; 2013 Reputation.com, Inc.</li>
    <li>
      <a href="/pub/privacy-policy">Privacy Policy</a>
    </li>
    <li>
      <a href="/pub/user-agreement">Terms</a>
    </li>
    <li>
      <a href="/pub/about">About Us</a>
    </li>
    <li>
      <a href="/pub/contact">Support</a>
    </li>
    <li>
      {{> m-override}}
    </li>
  </ul>
</footer>